@model MvcRestaurant1.Models.RestaurantFoodViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurants</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Restaurants" asp-action="Index" method="get">
    <p>
        <label asp-for="RestaurantFood">Food: </label>
        <select asp-for="RestaurantFood" asp-items="Model.Foods">
            <option value="">All</option>
        </select>

        <label asp-for="SearchString">Search query: </label>
        <input id="SearchString" type="text" name="SearchString" value="@ViewBag.SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].OpeningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].BestDish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].DishRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Restaurants) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestDish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishRating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
